body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  height: 120px;
  width: 100vw;
  background-color: rgb(46,53,60);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 20px 50px;  /*상하  좌우*/
}

/*헤더 버튼*/
#adminButton{
    display : flex;
    width : 350px;
    justify-content : space-around;
}

#adminSection{
  display: flex;
  width: 100vw;
  flex-grow: 1;
  min-height : 100vh;
}

#article01{
  min-height:100%;
  background-color: slategray;
  width: 300px;
}

#article02{
  flex-grow : 1;
  min-height: 100%;
}

.p-2{
  text-align: center;
  font-size: 25px;
  margin : 10px;
}

#adminLogoutButton{
  color : white;
  border : solid white 2px;
  padding : 15px;
  border-radius: 20px;
}

#mainArticle{
  min-height : 100%;
  background-color: #b9c1b9;
}

#adminNav{
  height: 89px;
}

.table{
    text-align : center;
    vertical-align: middle;
}

tr{
vertical-align : middle;
}

#adminListDiv{
  padding : 50px;
}

#goodsDetailDiv{
    padding : 100px;
}

#adminPagingNum{
    text-align : center;
}

ul{
    list-style-type: none;
    padding : 0px;
    text-align : left;
}


#memberMenu, #boardMenu, #goodsMenu{
    display : none;
    font-size : 20px;
    margin-left : 35px;
}

#memberMenuUp, #memberMenuDown{
    display : none;
}

#memberMenuDown.memberMenuUpDownShow{
    display : inline-block;
}

#memberMenuUp.memberMenuUpDownShow{
    display : inline-block;
}

#boardMenuUp, #boardMenuDown{
    display : none;
}

#boardMenuDown.boardMenuUpDownShow{
    display : inline-block;
}

#boardMenuUp.boardMenuUpDownShow{
    display : inline-block;
}

#goodsMenuUp, #goodsMenuDown{
    display : none;
}

#goodsMenuDown.goodsMenuUpDownShow{
    display : inline-block;
}

#goodsMenuUp.goodsMenuUpDownShow{
    display : inline-block;
}

#goodsMenuUp{
    display : none;
}


#memberMenu.memberLowMenu{
    display : block;
}

#boardMenu.boardLowMenu{
    display : block;
}

#goodsMenu.goodsLowMenu{
    display : block;
}

li{
    margin : 5px;
}

.sideBar{
    margin-left : 40px;
}

#goodsRegisterDiv{
    width: 500px;
    margin: 0 auto;
    padding-top: 30px;
}

#detailGoodsButton{
    display : flex;
    justify-content : right;
}

textarea{
    width: 500px;
    height: 200px;
    resize: none;
}

/*공지글 작성폼*/
#noticeBoardRegisterDiv{
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

img{
    max-width : 700px;
    max-height : 1000px;
}