body{
  margin: 0;
}


#itemSearch{
    margin-top : 20px;
    padding-left : 230px;
}

.nav_item{
  color: black;
}

.middleLogo{
    display : flex;
    justify-content : center;
    padding-top : 30px;
}


#logoimg{
  margin-top: 5px;
}

#container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header{
  flex-basis: 110px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin : 0px 30px;
}

.section{
	flex-grow: 1;
}

/*
.carousel-inner{
    height:700px;
}
*/


#footer{
    display: flex;
    flex-basis: 200px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top:10px;
}

.footerDiv{
    margin-left : 30px;
    margin-right : 30px;
}


#loginRegister{
display: flex;
  align-items: center;
}


.sign_button {
  border: 2px solid;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: black;

}

.btn-main{
	border: 3px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	color: black;
	
}

#logout-form, #delete-form{
	margin-bottom : 0px;
	margin-left: 5px;
}


.nav {
  --bs-nav-link-color: #f4f5f6;
}

.navbar-collapse{
  text-align: center;
  font-size: 20px;
}

.navbar-nav {
  margin: 0 auto;
}

.itemBucket{
    text-decoration: none;
    width: 120px;
    margin-right: 25px;
    color: black;
}

.nav-item{
  padding: 10px;
}

.bi-justify {
    font-size: 30px;
    color: black;
    padding-left : 20px;
}

.bi{
  padding-bottom: 3px;
}

.categoryNav{
    position : relative;
    overflow: visible;
    z-index : 100;
}


/*---------------------------------*/
/*로그인 양식*/

#loginform{
  width: 400px;
  margin:  0 auto;
  padding-top: 50px;
}

/*---------------------------------*/
/*회원가입 양식*/
#registerform{
  width: 400px;
  margin:  0 auto;
  /*padding-top: 50px;*/
}

.input-group{
  margin-top: 10px;
  margin-bottom: 30px;
}

/*---------------------------------*/
/*게시판 양식*/
.table{
  width: calc(100vw - 200px);
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}


#board_detail_view{
  text-decoration: none;
  color: black;
}

#pageNum{
	text-align: center;
	display: flex;
}

.boardTitle:hover{
	font-weight: bold;
}

#searchInput{
	text-align: center;
}
itemBucket

/*게시글 쓰기 양식*/
#boardWriteDiv {
    width : 1000px;
    margin : 0 auto;
}

/*게시글 상세 양식*/
#boardDetail{
	border-top:  black;
	margin: 0 auto;
	margin-bottom: 30px;
}

#boardContent{
	text-align: left;
	min-height : 400px;
}

.boardButton{
    margin-right : 100px;
}

#comment{
    margin-left : 90px;
    font-size: 20px;
}

#commentDiv{
    display:flex;
    margin-left : 100px;
    margin-right: 100px;
    justify-content: space-between;
}
#commentInput{
    width: calc(100vw - 350px);
}

#commentDiv{
    text-align : center;
}
#commentTable{
    width: calc(100vw - 200px);
    border-collapse: separate;
    border-spacing : 10px;
}

.commentRight{
    text-align : center;
}

.commentButton{
    width : 3%;
}

.commentDate{
    width : 15%;
}

.commentContent{
    width : 60%;
}


/*회원승인 처리 버튼*/
.Userapply{
  text-decoration :none;
  color:black;
  border: 2px solid;
  padding: 3px;
  border-radius: 10px;
  background-color: rgb(223, 217, 217);
}


/*상품페이지*/
.text-center{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin : 10px;
}

/* 홈화면 메인섹션*/
/*콜랩스부분*/
.d-block{
    max-height : 600px;
}



/* 메뉴카테고리 */
.homeArticleTitleDiv{
    text-align : center;
    margin-top : 100px;
    margin-bottom : 50px;
}

.homeArticleTitle{
font-family: 'NanumBarunGothicBold';
font-size: xxx-large;
}


#article2, #article3{
    padding-right : 200px;
    padding-left : 200px;
}

.homeMenuCategory{
    width : 100%;
    height : 300px;
}

.card-text {
  white-space: normal; /* or pre-wrap, pre, depending on your needs */
}
