body{
  margin: 0;
}

.nav_item{
  color: black;
}


#logoimg{
  margin-top: 5px;
}

#container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header{
  flex-basis: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin : 0px 30px;
}


#main_section{
  background-color: chartreuse;

 
}
.section{
	flex-grow: 1;
}

#footer{
  flex-basis: 100px;
  background-color: black;
  color: white;
  margin-top:10px;
}


#loginRegister{
display: flex;
  align-items: center;
}


.sign_button {
  border: 2px solid;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: black;

}

.btn-main{
	border: 3px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	color: black;
	
}

#logout-form, #delete-form{
	margin-bottom : 0px;
	margin-left: 5px;
}


.nav {
  --bs-nav-link-color: #f4f5f6;
}

.navbar{
	margin-bottom: 30px;
}

.navbar-collapse{
  text-align: center;
  font-size: 20px;
}

.navbar-nav {
  margin: 0 auto;
}
.nav-item{
  padding: 10px;
}

.bi{
  padding-bottom: 3px;
}


/*---------------------------------*/
/*로그인 양식*/

#loginform{
  width: 400px;
  margin:  0 auto;
  padding-top: 100px;
}

/*---------------------------------*/
/*회원가입 양식*/
#registerform{
  width: 400px;
  margin:  0 auto;
  padding-top: 50px;
}

.input-group{
  margin-top: 10px;
  margin-bottom: 30px;
}

/*---------------------------------*/
/*게시판 양식*/
.table{
  width: calc(100vw - 200px);
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}


#board_detail_view{
  text-decoration: none;
  color: black;
}


.boardButton{
	margin:0 auto;
	margin-right: 100px;
}

#pageNum{
	text-align: center;
	display: flex;
}

.boardTitle:hover{
	font-weight: bold;
}

.searchInput{
	text-align: center;
}


/*게시글 쓰기 양식*/
#boardWriteForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*게시글 상세 양식*/
#boardDetail{
	
	border-top:  black;
	margin: 0 auto;
	margin-bottom: 30px;
}

#boardContent{
	text-align: left;
}



/*회원승인 처리 버튼*/
.Userapply{
  text-decoration :none;
  color:black;
  border: 2px solid;
  padding: 3px;
  border-radius: 10px;
  background-color: rgb(223, 217, 217);
}


/*상품페이지*/
.text-center{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  margin : 10px;
}
